<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.rm.server.mapper.BacklogMapper">

    <resultMap id="Backlog" type="com.bc.rm.server.entity.Backlog">
        <id column="backlog_id" property="id" jdbcType="VARCHAR"/>
        <result column="backlog_epic_id" property="epicId" jdbcType="VARCHAR"/>
        <result column="backlog_module_id" property="moduleId" jdbcType="VARCHAR"/>
        <result column="module_name" property="moduleName" jdbcType="VARCHAR"/>
        <result column="backlog_type" property="type" jdbcType="VARCHAR"/>
        <result column="backlog_status_id" property="statusId" jdbcType="VARCHAR"/>
        <result column="status_name" property="statusName" jdbcType="VARCHAR"/>
        <result column="backlog_title" property="title" jdbcType="VARCHAR"/>
        <result column="backlog_deadline" property="deadLine" jdbcType="VARCHAR"/>
        <result column="backlog_create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addBacklog" parameterType="com.bc.rm.server.entity.Backlog">
        insert into t_backlog
        (
            backlog_id,
            backlog_module_id,
            backlog_sprint_id,
            backlog_type,
            backlog_status_id,
            backlog_current_user_id,
            backlog_title,
            backlog_priority_order,
            backlog_priority,
            backlog_importance,
            backlog_deadline,
            backlog_create_time
        )
        values
        (
            #{id},
            #{moduleId},
            #{sprintId},
            #{type},
            #{statusId},
            #{currentUserId},
            #{title},
            #{priorityOrder},
            #{priority},
            #{importance},
            #{deadLine},
            now()
        )
    </insert>

    <select id="getUnFinishedBacklogListByEpicId" resultMap="Backlog">
        <![CDATA[

        select b.*,
               m.module_name,
               s.status_name
          from t_backlog b
          left join t_module m on b.backlog_module_id = m.module_id
          left join t_status s on b.backlog_status_id = s.status_id
            where b.backlog_epic_id = #{epicId}
              and s.status_name <> #{finishStatusName}
        ]]>
    </select>

    <select id="getFinishedBacklogListByEpicId" resultMap="Backlog">
        select b.*,
               m.module_name,
               s.status_name
          from t_backlog b
          left join t_module m on b.backlog_module_id = m.module_id
          left join t_status s on b.backlog_status_id = s.status_id
            where b.backlog_epic_id = #{epicId}
              and s.status_name = #{finishStatusName}
    </select>

</mapper>