<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.rm.server.mapper.SprintMapper">

    <resultMap id="Sprint" type="com.bc.rm.server.entity.Sprint">
        <id column="sprint_id" property="id" jdbcType="VARCHAR"/>
        <result column="sprint_name" property="name" jdbcType="VARCHAR"/>
        <result column="sprint_desc" property="desc" jdbcType="VARCHAR"/>
        <result column="sprint_begin_date" property="beginDate" jdbcType="VARCHAR"/>
        <result column="sprint_end_date" property="endDate" jdbcType="VARCHAR"/>
        <result column="sprint_create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="sprint_update_time" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getSprintList" resultMap="Sprint">
        select *
          from t_sprint
            order by sprint_create_time desc
    </select>

    <insert id="addSprint" parameterType="com.bc.rm.server.entity.Sprint">
        insert into t_sprint
        (
            sprint_id,
            sprint_name,
            sprint_desc,
            sprint_begin_date,
            sprint_end_date,
            sprint_create_time,
            sprint_update_time
        )
        values
        (
            #{id},
            #{name},
            #{desc},
            #{beginDate},
            #{endDate},
            now(),
            now()
        )
    </insert>

    <update id="updateSprint" parameterType="com.bc.rm.server.entity.Sprint">
        update t_sprint
        set
        <if test="name != null and name !=''">
            sprint_name = #{name},
        </if>
        <if test="desc != null and desc !=''">
            sprint_desc = #{name},
        </if>
        <if test="beginDate != null and beginDate !=''">
            sprint_begin_date = #{beginDate},
        </if>
        <if test="endDate != null and endDate !=''">
            sprint_end_date = #{endDate},
        </if>
        sprint_update_time = now()
        where sprint_id = #{id}
    </update>

    <delete id="deleteSprint" parameterType="String">
        delete from t_sprint
          where sprint_id = #{sprintId}
    </delete>
</mapper>